{%load static%}
<!-- Gallery Area Start -->
<style>
.nav {
  width: 250px;
}

.anamenu, .altmenu {
  list-style: none;
  padding: 0;
  margin: 0;
  top:0;
}
.divv {
    padding:5px;
    margin-bottom:2%;
    margin-top:-1%;
}
.divv:hover {
    background-color:black;
    color:white;
}

.anamenu a{
  display: block;
  background-color:#333;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.anamenu a:hover {
    background-color:#7f8c8d;
    color:#000000;
    font-size:22px;
}
.a{
  display: block;
  text-decoration: none;
  padding: 10px;
  margin-top:0px;
}
.a:hover {
    color:red;
}


.anamenu li:hover .altmenu {
  display: block;
  max-height:200px;
}

.altmenu a{
  background-color:#000;
}

.altmenu a:hover {
  background-color:#7f8c8d;
}

.altmenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  float:left;
  width:100%;
  height:50px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
.topnav .icon {
  display: none;
}

.dropdownn {
  overflow: hidden;
  float:left;
}

.dropdownn .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;


}

.dropdownn-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:3%;
  float:left;
  width:10%;

}

.dropdownn-content a {
  float: left;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  top:0;
  color:white;
  width:100%;
}

.topnav a:hover, .dropdownn:hover .dropbtn {
  background-color: #555;
  color: white;
  font-size:18px;
}

.dropdownn-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdownn:hover .dropdownn-content {
  display: block;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
  $(function() {
    $("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });
  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>

<!-- Top Search Form Area -->
<div class="alime-portfolio-area section-padding-80 clearfix "  style="margin-bottom:30%;">
    <div class="container-fluid">
        <div class="row" style="margin-bottom:5%;  border-radius:20px;">
            <ul class="topnav" id="myTopnav">
                <li class="dropdownn"><a class="active" href="/">Anasayfa</a></li>
                <li class="dropdownn"><a href="/hakkimizda">Hakkımızda</a></li>
                <li class="x"><a href="/iletisim">İletişim</a></li>
                {% load mptt_tags %}
                {% if menu %}
                {% recursetree menu %}
                <li class="dropdownn">
                    <a href="/menu/{{node.id}}"><i class="fa fa-caret-down"> {{node.title}}</i></a>
                    {% if not node.is_leaf_node %}
                    <ul class="dropdownn-content">
                        <li class="dropdownn">
                            {{children}}
                        </li>
                    </ul>
                    {%endif%}
                </li>
                {% endrecursetree%}
                {%endif%}
            </ul>
        </div>

        <div class="row">
            <div class="col-3 ">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        {% load mptt_tags %}
                        <nav class="nav">
                            <h2 >Kategori Menü</h2>
                            <ul class="anamenu">
                                {% recursetree category %}
                                <li><a href ="/categories/{{node.id}}/{{node.slug}}">{{node.title}}</a>
                                    {% if not node.is_leaf_node %}
                                    <ul class="altmenu" >
                                        {{children}}
                                    </ul>
                                    {%endif%}
                                </li>
                                {%endrecursetree%}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="text-center" >
                    <h5 style="text-align:left;">Haberler</h5>
                    <div style="width: 100%; height: 3px; background-color: orange;"></div>
                </div>
                <ul>
                    {% for rs in news %}
                    <li><a class="a" href="/content/{{rs.id}}/{{rs.slug}}"> - {{rs.title}}</a></li>
                    {% endfor %}
                </ul>
                <div class="text-center" style="margin-top:2%;">
                    <h5 style="text-align:left;">Duyurular</h5>
                    <div style="width: 100%; height: 3px; background-color: orange;"></div>
                </div>
                <ul>
                    {% for rs in announcements %}
                    <li><a class="a" href="/content/{{rs.id}}/{{rs.slug}}"> - {{rs.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row alime-portfolio col-8 ml-20 ">
                <div class="container mb-50">
                    <div class="row" style="margin-bottom:5%; background-color:#444; border-radius:20px;">
                        <div class="col-3" style="margin-left:40%;  margin-bottom:1%;">
                            <h4>Arama Yap </h4>
                        </div>
                        <div class="col-9" style="margin-left:14%;" >
                            <!-- Form -->
                            <form action="/search/" method="POST" >
                                {% csrf_token %}
                                <input type="search" name="query" id="query" class="form-control" placeholder="Search and hit enter..." style="margin-bottom:5%;">
                                {% load mptt_tags %}
                                <select name="catid" id="catid" class="col-9" >
                                    <option value="0">All categories</option>.
                                    {% recursetree category %}
                                    {% if node.is_leaf_node %}
                                    <option value="{{node.id}}">{{node.title}}</option>
                                    {%endif%}
                                    {% if not node.is_leaf_node %}
                                    <optgroup label="{{node.title}}">
                                        {{children}}
                                    </optgroup>
                                    {%endif%}
                                    {%endrecursetree%}
                                </select>
                                <button class="divv" style="float:right;">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center" style="margin-bottom:2%;">
                                <h2 style="text-align:left;">Deals Of The Day</h2>
                                <div style="width: 100%; height: 3px; background-color: orange; "></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-12" >
                            <!-- Single Gallery Item -->
                            <div class="row alime-portfolio" >
                                {% for rs in dayphoto %}
                                <div class="col-12 col-sm-4 col-lg-4 single_gallery_item video country mb-30 wow fadeInUp" style="text-align:center;;" data-wow-delay="100ms">
                                    <div class="single-portfolio-content ml-15 mr-15" style="color:#fc0060;font-size:14px; width:250px;height:150px;" >
                                        <img src="{{rs.image.url}}" alt="{{rs.description}}">
                                        <div class="hover-content">
                                            <a href="{{rs.image.url}}" class="portfolio-img">+</a>
                                        </div>
                                    </div>
                                    <a class="a" href ="/product/{{rs.id}}/{{rs.slug}}"> Fotoğraf Ayrıntısı için ...</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center" style="margin-bottom:2%;">
                                <h2 style="text-align:left;">Lastest Photo </h2>
                                <div style="width: 100%; height: 3px; background-color: orange; "></div>
                            </div>
                        </div>
                        <div class="col-12" >
                            <!-- Single Gallery Item -->
                            <div class="row alime-portfolio" >
                                {% for rs in lastphotos%}
                                <div class="col-12 col-sm-4 col-lg-4 single_gallery_item video country mb-30 wow fadeInUp" style="text-align:center;;" data-wow-delay="100ms">
                                    <div class="single-portfolio-content ml-15 mr-15" style="color:#fc0060;font-size:14px; width:250px;height:150px;" >
                                        <img src="{{rs.image.url}}" alt="{{rs.description}}">
                                        <div class="hover-content">
                                            <a href="{{rs.image.url}}" class="portfolio-img"> + </a>
                                        </div>
                                    </div>
                                    <a class="a" href ="/product/{{rs.id}}/{{rs.slug}}"> Fotoğraf Ayrıntısı için ...</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center" style="margin-bottom:2%;">
                                <h2 style="text-align:left;">Picked For You</h2>
                                <div style="width: 100%; height: 3px; background-color: orange; "></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" >
                        <!-- Single Gallery Item -->
                        <div class="row alime-portfolio" >
                            {% for rs in randomphotos %}
                            <div class="col-12 col-sm-4 col-lg-4 single_gallery_item video country mb-30 wow fadeInUp" style="text-align:center;;" data-wow-delay="100ms">
                                <div class="single-portfolio-content ml-15 mr-15" style="color:#fc0060;font-size:14px; width:250px;height:150px;" >
                                    <img src="{{rs.image.url}}" alt="{{rs.description}}">
                                    <div class="hover-content">
                                        <a href="{{rs.image.url}}" class="portfolio-img">+ </a>
                                    </div>
                                </div>
                                <a class="a" href ="/product/{{rs.id}}/{{rs.slug}}"> Fotoğraf Ayrıntısı için ...</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Follow Area Start -->
<section class="follow-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Popular Users</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Instagram Feed Area -->
    <div class="instragram-feed-area owl-carousel">
        <!-- Single Instagram Item -->
        {% for rs in userProfile %}
        <div class="single-instagram-item">
            <img src="{{rs.image.url}}" alt="{{rs.user.username}}">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <i style="font-size:18px;" > {{rs.user.username}}</i >
                </a>
            </div>
        </div>
        {%endfor%}

    </div>
</section>
<!-- Follow Area End -->

