{%extends "homebase.html" %}
{%load static%}
{%block title %} {{setting.title}} {%endblock%}
{%block description%} DESC {%endblock%}
{%block keywords%} KEYWORDS {%endblock%}

{% block head%} <link rel="shortcut icon" type="image/x-icon" href="{{setting.icon.url}}"/>{%endblock%}

{%block content%}
<!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax mb-150 slider-1  ">
        <div class="container h-100">
            <div class="row h-100 align-items-center ">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Hakkımızda</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
       <!-- About Us Area Start -->
    <div class="about-us-area section-padding-80-0 clearfix">
        <div class="container">
            <div class="row align-items-center">
                {{ setting.aboutus | safe}}
            </div>
        </div>
    </div>
    <!-- About Us Area End -->


{%endblock%}
{%block follower%} {% include "follower.html"%} {%endblock%}


