{%load static%}
<style>
    .form{
        float:right;
    }
    deneme{
        color:red;
    }


</style>
<!-- Header Area Start -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="alimeNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="./index.html"><img src="{% static './img/core-img/logo2.png' %}" alt=""></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                {% if page == 'home'%}
                                <li class="active"><a href="/">Anasayfa</a></li>
                                {%else%}
                                <li ><a href="/">Anasayfa</a></li>
                                {%endif%}

                                {% if page == 'hakkimizda'%}
                                <li class="active"><a href="/hakkimizda">Hakkımızda</a></li>
                                {%else%}
                                <li ><a href="/hakkimizda">Hakkımızda</a></li>
                                {%endif%}

                                {% if page == 'gallery'%}
                                <li ><a href="/user/myposts">My Gallery</a></li>
                                {%else%}
                                <li ><a href="/user/myposts">My Gallery</a></li>
                                {%endif%}

                                {% if page == 'iletisim'%}
                                <li class="active"><a href="/iletisim">İletişim</a></li>
                                {%else%}
                                <li><a href="/iletisim">İletişim</a></li>
                                {%endif%}

                                {% if page == 'referanslarimiz'%}
                                <li class="active"><a href="/referanslarimiz">Referanslarımız</a></li>
                                {%else%}
                                <li><a href="/referanslarimiz">Referanslar</a></li>
                                {%endif%}

                                {% if page == 'sss'%}
                                <li class="active"><a href="/sss">SSS</a></li>
                                {%else%}
                                <li><a href="/sss">SSS</a></li>
                                {%endif%}

                                <li> <img style="height:40px; width:auto; border-radius:100%;" src="{{profile.image.url}}"></li>
                                <!-- Search Icon -->
                                <li>
                                    {% if user.id is not None %}
                                    <a style="font-size:18px; color:white;"> {{user.username}}</a>
                                    <ul class="dropdown">
                                        <li><a href ="/user"> My Account</a></li>
                                        <li><a href="/user/posts/"> My Posts</a></li>
                                        <li><a href="/user/comments"> My Comments</a></li>
                                        <li><a href="/user/contents"> My Contents</a></li>
                                        <li><a href="/logout/"> Logout</a></li>
                                    </ul>
                                    {% else %}
                                    <a class="ti-user"> My Account</a>
                                    <ul class="dropdown">
                                        <li><a href ="/login/"> Login</a></li>
                                        <li><a href="/signup/"> Create An Account</a></li>
                                    </ul>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Nav End -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->