<!DOCTYPE html>
<html lang="en">
<head>
{%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{%block title %} {%endblock%}</title>
    <meta name="description" content="{%block description%}  {%endblock%}">
    <meta name="keywords" content="{%block keywords%}  {%endblock%}">

    <!-- Favicon-->


    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css'%}">


</head>
        {% block head%} {%endblock%}

<body>
{%include 'preloader.html'%}
{%include 'header.html'%}
{%block welcome%} {%endblock%}
{%block galery%} {%endblock%}
{%block content%} {%endblock%}
{%block follower%} {%endblock%}
{%include 'footer.html'%}

</body>
</html>