<!-- Top Search Form Area -->
<div class="top-search-area">
    <div class="modal fade" id="searchModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close -->
                    <div class="classynav">
                        <ul id="nav">
                            <li><a href=".">Kategori</a>
                                <ul class="dropdown">
                                    <li><a href="#">- All</a></li>
                                    <li><a href ="#">- Human</a></li>
                                    <li><a href="#">- Nature</a></li>
                                    <li><a href="#">- Country</a></li>
                                    <li><a href="#">- Video</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Form -->
                </div>
            </div>
        </div>
    </div>
</div>